<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<div [@routerTransition]>
    <app-page-header [heading]="'Employés'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <b class="col col-lg-2">Liste des employés</b>
                    <input class="col col-lg-8" type="text" (keyup)="search($event.target.value)" placeholder="{{ 'Chercher (Prénom)' | translate}}"> &nbsp;&nbsp;
                    <a [routerLink]="['/signup']" class="col-lg-2 btn btn-success btn-rounded">Ajouter employé</a>

                </div>
                <table class="card-body table table-hover table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>id</th>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Equipe</th>
                        <th>Fonction</th>
                        <th colspan="3">action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users , let i=index">
                        <th scope="row">{{this.user.id}}</th>
                        <td>{{this.user.prenom}}</td>
                        <td>{{this.user.nom}}</td>
                        <td>{{this.user.mail}}</td>
                        <td>{{this.user.equipe}}</td>
                        <td>{{this.user.fonction}}</td>
                        <td>
                            <button class="btn btn-primary" (click)="soft(this.user.id)"><i class="fa fa-eye" aria-hidden="true" title="Details"></i></button>
                            <button class="btn btn-warning" (click)="open(content,this.user.id)"><i class="fa fa-pencil-square" aria-hidden="true" title="Edit"></i></button>
                            <button class="btn btn-danger" (click)="deleteUser(this.user.id)"><i class="fa fa-trash" aria-hidden="true" title="Delete"></i></button>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Modifier Employé</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="userForm">
        <label for="">Nom</label>
        <div class="form-group">
            <input value="{{this.user.nom}}" type="text" formControlName="nom"  class="form-control input-underline input-lg" id="" placeholder="{{ 'Nom' | translate }}">
        </div>
        <label for="">Prenom</label>
        <div class="form-group">
            <input value="{{this.user.prenom}}" type="text" formControlName="prenom" class="form-control input-underline input-lg" id="" placeholder="{{ 'Prenom' | translate }}">
        </div>
        <label for="">Email</label>
        <div class="form-group">
            <input value="{{this.user.mail}}" type="text" formControlName="mail" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
        </div>
        <label for="">Mot de passe</label>
        <div class="form-group">
            <input value="{{this.user.password}}" type="password" formControlName="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}">
        </div>
        <label for="">Fonction</label>
        <div class="form-group">
            <input value="{{this.user.fonction}}" type="text" formControlName="fonction"  class="form-control input-underline input-lg" id="" placeholder="{{ 'Fonction' | translate }}">
        </div>
        <label for="">Equipe</label>
        <div class="form-group">
            <input value="{{this.user.equipe}}" type="text" formControlName="equipe" class="form-control input-underline input-lg" id="" placeholder="{{ 'Equipe' | translate }}">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-primary" (click)="this.update(this.id)">Enregistrer</button>
    </div>
  </ng-template>
